.box {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon {
    width: 80px;
    height: 80px;
  }
  .title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 510;
    line-height: 28px;
    padding-top: 24px;
  }
  .subTitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .button {
    border-radius: 4px;
    background: #3370ff;
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 144px;
  }
}
